{% extends "layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'projects/css/projects.css' %}"/>
    <script src="{% static 'projects/js/projects.js' %}" defer></script>
{% endblock %}
{% block content %}
    <div class="body">
        <div id="cards">
            <a class="card" href="{% url 'instructions' %}">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h2>KARBS</h2>
                        </div>
                        <div class="card-info-text">
                            <p>Kristofers Auto-Rice Bootstrapping Script.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card"
               href="https://github.com/kristoferssolo/SoloVim"
               target="_blank">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h2>SoloVim</h2>
                        </div>
                        <div class="card-info-text">
                            <p>This is my attempt for a Neovim IDE.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card"
               href="https://github.com/kristoferssolo/kristofersxyz"
               target="_blank">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h2>kristofersxyz</h2>
                        </div>
                        <div class="card-info-text">
                            <p>This site.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url 'traffic-light-detector' %}">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h2>Traffic-Light-Detector</h2>
                        </div>
                        <div class="card-info-text">
                            <p>Traffic Light recognition and color detection.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card"
               href="https://github.com/kristoferssolo/donut-rs"
               target="_blank">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h2>donut-rs</h2>
                        </div>
                        <div class="card-info-text">
                            <p>ASCII spinning donut rewrite in Rust.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url 'lightsaber' %}">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h2>Become a Jedi</h2>
                        </div>
                        <div class="card-info-text">
                            <p>or Sith.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
