{% extends "layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'projects/css/projects.css' %}"/>
    <script src="{% static 'projects/js/projects.js' %}" defer></script>
{% endblock %}
{% block content %}
    <div class="body">
        <div id="cards">
            <a class="card" href="{% url 'instructions' %}">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>KARBS</h3>
                            <p>Kristofers Auto-Rice Bootstrapping Script (KARBS).</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="https://github.com/kristoferssolo/SoloVim">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>SoloVim</h3>
                            <p>This is my attempt for a Neovim IDE.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="https://github.com/kristoferssolo/kristofersxyz">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>kristofersxyz</h3>
                            <p>This site.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card"
               href="https://github.com/kristoferssolo/Traffic-Light-Detector">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>Traffic-Light-Detector</h3>
                            <p>Traffic Light recognition and color detection.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="https://github.com/kristoferssolo/donut-rs">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>donut-rs</h3>
                            <p>ASCII spinning donut rewrite in Rust.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card" href="{% url 'lightsaber' %}">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>Surprise me</h3>
                            <p>CSS Lightsaber.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
