#landing {
    display: flex;
    height: 100%;
    text-align: center;
    margin: 1rem;
}

.landing-title {
    position: absolute;
    margin: 1rem;
    padding: 1rem;
    left: 0;
    right: 0;
    top: 30%;
}
img {
    width: 40%;
}

.text {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
