:root {
    --color-mail: #7e63f8;
    --color-telegram: #2baaee;
    --color-linkedin: #0074b3;
    --color-github: #0d1117;
}

#landing {
    display: flex;
    height: 100%;
    text-align: center;
    margin: 1rem;
}

.landing-title {
    position: absolute;
    margin: 1rem;
    left: 0;
    right: 0;
    top: 30%;
}

video {
    width: clamp(20rem, 50%, 70rem);
}

.text {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.landing-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem auto 0 auto;
}

.social-link {
    text-decoration: none;
}

.social-link > i {
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: var(--color-fg-default);
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EEF5FCFF' stroke-width='4' stroke-dasharray='24' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e"); */
    border: 0.1rem solid var(--color-fg-default);
    border-radius: 100%;
    margin: 0 0.5rem 1rem 0.5rem;
    width: 3rem;
    aspect-ratio: 1;
}

.social-link:hover > i {
    background-color: var(--color-fg-default);
}

.email:hover > i {
    color: var(--color-mail);
    border: 2px solid var(--color-mail);
    background-image: none;
}

.telegram:hover > i {
    color: var(--color-telegram);
    border: 2px solid var(--color-telegram);
    background-image: none;
}

.linkedin:hover > i {
    color: var(--color-linkedin);
    border: 2px solid var(--color-linkedin);
    background-image: none;
}

.github:hover > i {
    color: var(--color-github);
    border: 2px solid var(--color-github);
    background-image: none;
}

.social-link .label {
    display: none;
    color: var(--color-fg-default);
}

.social-link:hover .label {
    display: block;
}
