{% extends "layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'main/css/index.css' %}"/>
{% endblock %}
{% block content %}
    <div class="center">
        <img src="https://media.giphy.com/media/xTiIzJSKB4l7xTouE8/giphy.gif"
             alt="Hello there.">
        <h1>
            I&#39;m <span class="highlight">Kristofers Solo</span>
        </h1>
        <h1>
            <span id="text-rotate">Jedi</span>
        </h1>
    </div>
{% endblock %}
