{% extends "layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'main/css/projects.css' %}"/>
    <script src="{% static 'main/js/projects.js' %}" defer></script>
{% endblock %}
{% block content %}
    <div class="body">
        <div id="cards">
            <div class="card">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>Apartments</h3>
                            <p>Places to be apart. Wait, what?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>Apartments</h3>
                            <p>Places to be apart. Wait, what?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>Apartments</h3>
                            <p>Places to be apart. Wait, what?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>Apartments</h3>
                            <p>Places to be apart. Wait, what?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>Apartments</h3>
                            <p>Places to be apart. Wait, what?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-info-wrapper">
                        <div class="card-info-title">
                            <h3>Apartments</h3>
                            <p>Places to be apart. Wait, what?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
