{% extends "layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'main/css/validation.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'main/js/validation.js' %}" defer></script>
{% endblock %}
{% block content %}
    <form id="register-form" action="https://www.w3schools.com/action_page.php">
        <input type="text"
               id="username"
               name="username"
               placeholder="Username"
               class="btn">
        <br>
        <input type="password"
               id="password"
               name="password"
               placeholder="Password"
               class="btn">
        <br>
        <input type="password"
               id="confirm-password"
               name="confirm-password"
               placeholder="Repeat password"
               class="btn">
        <br>
        <div id="check-block"></div>
    </form>
{% endblock %}
