main {
    border: var(--border);
    border-radius: var(--border-radius);
    max-width: 700px;
    color: var(--text-color);
    padding: 50px;
    margin: 100px auto 100px auto;
}

hr {
    color: var(--hr-color);
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    margin: 40px 0 0 0;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-text-color);
}

a:hover {
    text-decoration: underline;
}

code {
    font-family: Consolas, "courier new";
    color: var(--text-color);
    background-color: var(--code-bg-color);
    border-radius: var(--border-radius);
    padding: 3px;
}

pre code {
    background-color: var(--bg);
    display: block;
    padding: 20px;
}

aside {
    color: #8b949e;
    font-size: 12px;
    margin: 10px 0;
    font-style: italic;
}

.list {
    margin: 10px 40px;
}

.upper {
    list-style-type: circle;
}

.sub {
    list-style-type: disc;
}
