html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background: #0d1117;
}

main {
  min-height: 100%;
}

/* HEADER */

header ul {
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  background-color: #161b22;
  position: sticky;
  top: 0;
}

header li {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  float: left;
  width: calc(100% / 2);
}

header li a {
  display: inline-block;
  color: #f0f6fc;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  text-decoration: none;
  color: #b9bbbd;
}

/* FOOTER */

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #161b22;
  color: #f0f6fc;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

footer p {
  font-size: 16px;
  margin: 10px 0;
}
