{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="color-scheme" content="dark light">
        <link rel="icon" href="{% static 'main/img/icons/logo.svg' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
              rel="stylesheet">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'main/css/reset.css' %}"/>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'main/css/layout.css' %}"/>
        {% block meta %}{% endblock %}
        <script src="{% static 'main/js/navigation.js' %}" defer></script>
    </head>
    <body>
        <header class="primary-header flex">
            <div>
                <a href="{% url 'home' %}">
                    <img src="{% static 'main/img/icons/logo.svg' %}" alt="logo" class="logo">
                </a>
            </div>
            <button class="mobile-nav-toggle"
                    aria-controls="primary-navigation"
                    aria-expanded="false">
                <span class="sr-only">Menu</span>
            </button>
            <nav>
                <ul id="primary-navigation"
                    class="primary-navigation flex"
                    data-visible="false">
                    <li>
                        <a href="{% url 'home' %}" class="bold">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'projects' %}" class="bold">Projects</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
